<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Longueur des routes</title>
    <!-- Importation de Milligram et Chart.JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/milligram@1.4.1/dist/milligram.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <!-- Affichage des boutons de navigation -->
    <div class="container">
        <nav class="column">
            <a class="button" href="/">Accueil</a>
            <a class="button" href="/RA">Recherche de routes</a>
            <a class="button" href="/graphique-camenbert-par-gestionnaire">Graphique en donut</a>
            <a class="button" href="/graphique-bar-par-gestionnaire">Graphique en bar</a>
            <a class="button" href="/highway">Longueur des routes</a>
        </nav>
    </div>
    <div>
        <h1>Longueur des routes</h1>
        <!-- Sélecteur pour les années -->
        <select id="select-annee" name="annees">
            {% for annee in annees %}
                <option value="{{ annee }}">{{ annee }}</option>
            {% endfor %}
        </select>
        <!-- Sélecteur pour choisir le type de route -->
        <select id="type-route">
            <option value="nationale">Nationales</option>
            <option value="autoroute">Autoroutes</option>
        </select>
        <!-- Bouton pour actualiser le graphique -->
        <button id="filter-button">Filtrer</button>
        <!-- Canvas où chart.JS va "dessiner" les graphiques -->
        <canvas id="highwayChart" width="400" height="200"></canvas>
        <canvas id="concessionaireChart" width="100" height="50"></canvas>
    </div>
    <script>

    // Fonction s'activant uniquement si le contenu de la page est chargé
    document.addEventListener('DOMContentLoaded', function() {
        let highwayChart = null;
        let concessionaireChart = null;

        // Fonction pour mettre à jour les données et les labels du graphique highwayChart
        const updateChart = (highwayData) => {
            highwayChart.data.labels = highwayData.labels;
            highwayChart.data.datasets[0].data = highwayData.data;
            highwayChart.update();
        };

        // Si le graphique highwayChart n'est pas défini, on affiche un graphique vide
        if (!highwayChart) {
            highwayChart = new Chart(document.getElementById('highwayChart').getContext('2d'), {
                type: 'bar',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Longueur (en km)',
                        data: [],
                        backgroundColor: 'rgba(155, 77, 202, 1)',
                        borderColor: 'rgba(155, 77, 202, 1)', // On ajoute une couleur de bordure pour avoir des barres plus épaisses
                        borderWidth: 1
                    }]
                }
            });
        }

        // Si le bouton permettant d'actualiser le graphique est cliqué, on déclenche la fonction
        document.getElementById('filter-button').addEventListener('click', function() {

            // Récupère les données filtrées
            fetch(`/api/highway/${document.getElementById('type-route').value}/${document.getElementById('select-annee').value}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Erreur de réseau - ${response.status} ${response.statusText}`);
                        //Renvoie une erreur si la requête n'a pas de réponse correcte
                    }
                    return response.json();
                    // Renvoie le fichier JSON de la réponse
                })
                .then(data => {
                    // Récupère les information du fichier JSON et convertit les mètres en kilomètres
                    const routes = data.map(item => item["_id"]["route"])
                    const metres = data.map(item => item["metres"])

                    let kilometres = metres.map(item => item/1000);

                    // Met à jour le graphique
                    updateChart({
                        labels: routes,
                        data: kilometres
                    });
                })
                .catch(error => {
                    // Gestion de l'erreur - Affiche une popup avec le message d'erreur
                    alert(`Une erreur s'est produite: ${error.message}`);
                });
        });

        // Fonction qui s'active uniquement si l'on clique sur le graphique highwayChart
        document.getElementById('highwayChart').addEventListener('click', function (event) {
            // Récupère les bordures du graphique
            const bounds = event.target.getBoundingClientRect();
            // Calcul du bord gauche du graphique (graphique uniquement)
            // à partir de la valeur de la bordure gauche (graphique + axe des ordonnées)
            const graphBoundsLeft = bounds.left + 35;
            // On fait la même chose pour la bordure droite
            const graphBoundsRight = bounds.right - 9;
            // On calcule les coordonnées X dans le graphique du point cliqué
            const mouseX = event.clientX - graphBoundsLeft;
            // On calcule la largeur réelle du graphique
            const graphWidth = graphBoundsRight - graphBoundsLeft;
            // Calcul de largeur d'une barre
            const barWidth = graphWidth / highwayChart.data.labels.length;
            // Calcul de l'index de la barre cliquée
            const clickedIndex = Math.floor(mouseX / barWidth);

            // On vérifie que l'index est compris entre les bornes du tableau labels
            if(clickedIndex >= 0 && clickedIndex < highwayChart.data.labels.length) {
                // On récupère la route cliquée
                const routeClicked = highwayChart.data.labels[clickedIndex];
                // On récupère les informations avec une requête API pour faire le graphique donut
                fetch(`/api/concessionaire/${document.getElementById('select-annee').value}/${routeClicked}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`Erreur de réseau - ${response.status} ${response.statusText}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        const labels = data.map(item => item["_id"]["concessionaire"]);
                        const dataValues = data.map(item => item["metres"]);

                        if(!concessionaireChart) {
                            concessionaireChart = new Chart(document.getElementById('concessionaireChart').getContext('2d'), {
                                type: 'doughnut',
                                data: {
                                    labels: [],
                                    datasets: [{
                                        label: 'Portions de la route (en km)',
                                        data: [],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    plugins: {
                                        title: {
                                            display: true,
                                            text: routeClicked,
                                            font: {
                                                size: 24,
                                                style: 'bold'
                                            }
                                        }
                                    },
                                    aspectRatio: 3
                                }
                            });
                        }

                        // Conversion des mètres en kilomètres
                        let kilometresConcessionaires = dataValues.map(item => item / 1000);

                        // Calcul du nombre de kilomètres total de la route
                        let kilometresTotal = 0;
                        for (let i = 0 ; i < kilometresConcessionaires.length ; i++) {
                            kilometresTotal += kilometresConcessionaires[i];
                        }

                        //Calcul du pourcentage pour chaque concessionnaire
                        let pourcentage = kilometresConcessionaires.map( value => Math.round((value / kilometresTotal) * 10000) /100);
                        let labelPourcentage = [];
                        for (let i = 0 ; i < labels.length ; i++){
                            labelPourcentage[i] = labels[i] + " - " + pourcentage[i] + "%";
                        }
                        // Met à jour le graphique
                        concessionaireChart.data.labels = labelPourcentage;
                        concessionaireChart.data.datasets[0].data = kilometresConcessionaires;
                        concessionaireChart.options.plugins.title.text = routeClicked;
                        concessionaireChart.update();
                    })
                    .catch(error => {
                        // Gestion de l'erreur - Affiche une popup avec le message d'erreur
                        alert(`Une erreur s'est produite: ${error.message}`);
                    });
            }
        });
    });
    </script>
</body>
</html>