<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Graphique en donut du réseau routier national (RRN)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/milligram@1.4.1/dist/milligram.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <nav class="column">
            <a class="button" href="/">Accueil</a>
            <a class="button" href="/RA">Recherche de routes</a>
            <a class="button" href="/graphique-camenbert-par-gestionnaire">Graphique en donut</a>
            <a class="button" href="/graphique-bar-par-gestionnaire">Graphique en bar</a>
            <a class="button" href="/highway">Longueur des routes</a>
        </nav>
    </div>
    <div>
        <h2 style="padding-top: 5%">Graphique en donut du réseau routier national (RRN)</h2>
    </div>
    <!-- Liste déroulante des années -->
    <label for="annees">Sélectionnez une année :</label>
    <select id="annees" name="annees">
        {% for annee in annees %}
            <option value="{{ annee }}">{{ annee }}</option>
        {% endfor %}
    </select>

    <!-- Liste déroulante des gestionnaires -->
    <label for="concessions">Sélectionnez le type de route :</label>
    <select id="concessions" name="concessions">
        {% for concession in concessions %}
            {% if concession == "C" %}
                <option value="{{ concession }}">Concédée par l'état</option>
            {% elif concession == "N" %}
                <option value="{{ concession }}">Non concédée par l'état</option>
            {% endif %}
        {% endfor %}
    </select>
    <div>
        <div id="data-container-concede-longueur" style="padding-left: 30%; padding-right: 30%;"></div>
    </div>
</body>
</html>
<script>
    document.getElementById('annees').addEventListener('change', fetchData);
    document.getElementById('concessions').addEventListener('change', fetchData);

    function fetchData() {
        var selectedYear = document.getElementById('annees').value;
        var selectedType = document.getElementById('concessions').value;

        //Envoi une requete AJAX à l'API pour récupérer les données de l'année et la concession
        fetch('/api/longueurGestionnaire?years=' + selectedYear + '&concessionPrD=' + selectedType)
            .then(response => response.json())
            .then(data => {
                const concession = data.map(entry => entry["_id"])
                const longueurR = data.map(entry => entry["longueur_formate"])

                var chart2;
                var ctx2;

                //Boucle conditionnel pour mettre à jour les données du graphique
                if (chart2) {
                    chart2.data.labels = concession;
                    chart2.data.datasets[0].data = longueurR;
                    chart2.update();
                } else {
                    var dataContainer = document.getElementById('data-container-concede-longueur');
                    ctx2 = document.createElement('canvas').getContext('2d');
                    dataContainer.innerHTML = '';
                    dataContainer.appendChild(ctx2.canvas);

                    const backgroundColors = generateColors(concession.length)

                    chart2 = new Chart(ctx2, {
                        type: 'doughnut',
                        data: {
                            labels: concession,
                            datasets: [{
                                label: ' Longueurs des routes (en km)',
                                data: longueurR,
                                backgroundColor: backgroundColors,
                            }],
                        },
                        options: {
                            plugins: {
                                title: {
                                    display: true,
                                    text: selectedType === "N"
                                        ? "Longueurs des routes par gestionnaires non concédés"
                                        : "Longueurs des routes par gestionnaires concédés",
                                    font: {
                                        size: 18
                                    }
                                },
                                legend: {
                                    display: true,
                                    position: 'right',
                                    fullSize: false
                                }
                            },
                        }
                    })
                }
            })
            .catch(error => console.error('Error:', error));

        function generateColors(numColors) {
            const colors = [];
            for (let i = 0; i < numColors; i++) {
                const color = `rgba(${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)}, 0.7)`;
                colors.push(color);
            }
            return colors;
        }
    }
</script>