<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Nombre de routes par gestionnaires</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/milligram@1.4.1/dist/milligram.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <nav class="column">
            <a class="button" href="/">Accueil</a>
            <a class="button" href="/researchHighway">Recherche Autoroutes</a>
            <a class="button" href="/nombre-routes-par-gestionnaire">Nombres de routes par gestionnaires</a>
            <a class="button" href="#Graphique 2">Graphique 2</a>
        </nav>
    </div>
    <div>
        <h2>Nombres de routes par gestionnaires</h2>
    </div>
        <label for="annees">Sélectionnez une année :</label>
        <select id="annees" name="annees">
            {% for annee in annees %}
                <option value="{{ annee }}">{{ annee }}</option>
            {% endfor %}
        </select>
    <div class="row">
        <div class="column" id="data-container-concedee" style="width: 40%;"></div>
        <div class="column" id="data-container-non-concedee" style="width: 40%;"></div>
    </div>
    <div>
        <h2>Longueurs des routes par gestionnaires</h2>
    </div>
        <label for="concessions">Choisissez : concédée ou non concédée</label>
        <select id="concessions" name="concessions">
            {% for concession in concessions %}
                <option value="{{ concession }}">{{ concession }}</option>
            {% endfor %}
        </select>
        <div class="column" id="data-container-longueur" style="width: 40%;"></div>

</body>
</html>
<script>
    document.getElementById('annees').addEventListener('change', function () {
        var selectedYear = this.value;

        fetch('/api/routeGestionnaireConcedee?years=' + selectedYear)
            .then(response => response.json())
            .then(data => {
                const routes = data.map(entry => entry["count"]);
                const gestionnaires = data.map(entry => entry["_id"]);

                var ctx;
                var chart;

                if (chart) {
                    chart.data.labels = gestionnaires;
                    chart.data.datasets[0].data = routes;
                    chart.update();
                } else {
                    var dataContainer = document.getElementById('data-container-concedee');
                    ctx = document.createElement('canvas').getContext('2d');
                    dataContainer.innerHTML = '';
                    dataContainer.appendChild(ctx.canvas);


                    chart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: gestionnaires,
                            datasets: [{
                                label: 'Nombre de routes ',
                                data: routes,
                                borderWidth: 1,
                                backgroundColor: 'rgb(26,153,252)',
                                fill: true,

                            }],
                        },
                        options: {
                            plugins: {
                                title: {
                                    display: true,
                                    text: "Nombre de routes par gestionnaires concédée par l'état"
                                }
                            }
                        }
                    })
                }
            })

        fetch('/api/routeGestionnaireNonConcedee?years=' + selectedYear)
            .then(response => response.json())
            .then(data => {
                const routes = data.map(entry => entry["count"]);
                const gestionnaires = data.map(entry => entry["_id"]);

                var ctx2;
                var chart2;

                if (chart2) {
                    chart2.data.labels = gestionnaires;
                    chart2.data.datasets[0].data = routes;
                    chart2.update();
                } else {
                    var dataContainer = document.getElementById('data-container-non-concedee');
                    ctx2 = document.createElement('canvas').getContext('2d');
                    dataContainer.innerHTML = '';
                    dataContainer.appendChild(ctx2.canvas);


                    chart2 = new Chart(ctx2, {
                        type: 'bar',
                        data: {
                            labels: gestionnaires,
                            datasets: [{
                                label: 'Nombre de routes ',
                                data: routes,
                                borderWidth: 1,
                                backgroundColor: 'rgb(124,0,194)',
                                fill: true,

                            }],
                        },
                        options: {
                            plugins: {
                                title: {
                                    display: true,
                                    text: "Nombre de routes par gestionnaires non concédée par l'état"
                                }
                            }
                        }
                    })
                }
            })
            .catch(error => console.error('Error:', error));
    });
</script>