<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Recherche de pays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/milligram@1.4.1/dist/milligram.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <nav class="column">
            <a class="button" href="/">Accueil</a>
            <a class="button" href="/researchHighway">Recherche Autoroutes</a>
            <a class="button" href="/nombre-autoroute-par-gestionnaire">Nombres d'autoroutes par gestionnaires</a>
            <a class="button" href="#Graphique 2">Graphique 2</a>
        </nav>
    </div>
    <div>
        <h2>Recherche de pays</h2>
    </div>
</body>
</html>